{% extends "auctions/layout.html" %}

{% block body %}
<div class='container detalles p-2'>
    <div class='row'>
        <div class='col-12'>
            {% if user.is_authenticated and user.id == item.user.id and count != 0 %}
            <a href="{% url 'closeListing' item.id %}" class='btn btn-primary float-right mt-2'>Close this Listing</a>
            {% elif user.id == item.user.id and count == 0 %}
            <a href="{% url 'deleteListing' item.id %}" class='btn btn-primary float-right mt-2'>Delete this Listing</a>
            {% endif %}
        </div>
    </div>
    <div class='row'>
        <div class='col-12 text-center'>
            <h2>{{item.name}}</h2>
        </div> 
    </div>
    <div class='row'>
        <div class='col-4'>
            <img class='img-fluid'src="{{item.image.url}}" alt="{{item.name}}">
        </div>
        <div class='col-8'>
            <div class='row'>
                <strong>Description:</strong>
            </div>
            <div class='row p-2 text-justify'>
                <p>{{item.description}}</p>
            </div>
            <div class='row'>
                <strong>Category:</strong>
            </div>
            <div class='row p-2'>
                <p>{{item.category.name}}</p>
            </div>
            <div class='row'>
                <strong>Listed by:</strong>
            </div>
            <div class='row p-2'>
                <p>{{item.user.username}} on {{item.date_listed|date:'F d, Y'}}</p>
            </div>
            <div class='row'>
                {{count}} total bid(s).
            </div>
            {% if item.active %}
            <div class='row'>
                <strong>Current Bid: </strong>             
            </div>
            <div class='row p-2'>
                <p><sup>$</sup>{{bid|floatformat:2}}</p>
            </div>

            {% if user.is_authenticated and user.id != item.user.id %}
                <form method="POST">
                    {%csrf_token%}
                    <div class='row'>
                        <div class='col-6'>
                            <input class = 'form-control border border-primary float-right' 
                            name="bid" type="number" step=0.01 
                            placeholder="Must be greater than $ {{bid|floatformat:2}}">
                        </div>
                        <div class='col-6'>
                            <input class='btn btn-primary float-left'type="submit" value="Place Bid">
                        </div>
                    </div>
                </form> 
            {% endif %}
            {%elif user.id == lastBid.user.id %}
            <br>
                <div class='row'>
                    <div class='col-12'>
                        <h2 class='text-center'>Congratulations!!! You won this auction</h2>
                    </div>
                </div>
                <div class=" row border border-success">
                    <div class='col-6'>
                        Please contact User {{item.user.username}}
                    </div>
                    <div class='col-6'>
                        {{item.user.email}}
                    </div>
                </div>
            {%else%}
                <h2>We're sorry. This Listing is already closed</h2>
            {% endif %}
        </div>
    </div>
</div>
<br>
<div class = 'container detalles'>
    <div class='row'>
        <div class='col-12'>
            <h3>Comments...</h3>
        </div> 
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class='row'>
            <div class='col-2'></div>
            <div class="col-8 form-group">
                <textarea class="form-control" name='comment' rows="5"></textarea>
            </div>
        </div>
        <div class='row'>
            <div class='col-12 '>
                <input class = 'btn btn-primary float-right' type="submit" value="Add a Comment">
            </div>
        </div>
    </form>
    {% for comment in item.comments.all|dictsortreversed:"date_comment" %}
    <div class='row'>
        <div class='col-2'></div>
        <div class='col-8 comment'>
            <strong>{{comment.user.username}} on {{comment.date_comment|date:'F d, Y'}}</strong>
            <br><br>
            <p>{{comment.comment}}</p><br>
            <p><small class = 'text-right'>{{comment.date_comment|date:'h:i A'}}</small></p>
        </div>
    </div>
    <br>
    {%empty%}
    <div class='row'>
        <div class='col-2'></div>
        <div class='col-8 comment'>
            <h5>No comments yet.</h5>
        </div>
    </div>
    {%endfor%}
</div>

{% endblock %}